/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Kanit, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
}

footer {
  font-size: 18px;
  line-height: normal;
}

h1 {
  font-family: Kanit, sans-serif;
  font-weight: 700;
  color: #256f9d;
}

.find-me {
  font-family: Kanit, sans-serif;
  font-weight: 700;
  font-size: x-large;
}

#standard-body {
  text-align: center;
}

a {
  color: #256f9d;
  padding: 3px;
  text-decoration: none;
  -webkit-transition: all 35ms;
  -o-transition: all 35ms;
  transition: all 35ms;
}

#contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

a:hover {
  text-decoration: none;
  border: 2px solid #256f9d;
  color: #256f9d;
  border-radius: 4px;
}

a:focus {
  text-decoration: none;
  border: 2px solid #256f9d;
  color: #256f9d;
  border-radius: 4px;
}

button {
  border: none;
  font-family: Kanit, sans-serif;
  font-size: 16px;
  color: white;
  background-color: #256f9d;
  border-radius: 4px;
  border: 2px solid;
  border-color: #256f9d;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 450ms;
  -o-transition: all 450ms;
  transition: all 450ms;
}

.about-button {
  border: none;
  font-family: Kanit, sans-serif;
  font-size: 16px;
  color: white;
  background-color: #256f9d;
  border-radius: 4px;
  border: 2px solid;
  border-color: #256f9d;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 450ms;
  -o-transition: all 450ms;
  transition: all 450ms;
}

button:hover {
  border: none;
  font-family: Kanit, sans-serif;
  font-size: 16px;
  color: #256f9d;
  background-color: white;
  border-radius: 4px;
  border: 2px solid;
  border-color: #256f9d;
  padding: 10px;
  scale: 1.1;
}

.about-button:hover {
  border: none;
  font-family: Kanit, sans-serif;
  font-size: 16px;
  color: #256f9d;
  background-color: white;
  border-radius: 4px;
  border: 2px solid;
  border-color: #256f9d;
  padding: 10px;
  scale: 1.1;
}

.navigation-bar__active {
  text-decoration: none;
  border: 2px solid #256f9d;
  border-width: 4px;
  border-radius: 4px;
  background-color: #256f9d;
  color: white;
}

.navigation-bar__active:visited {
  color: white;
}

.profile__portrait {
  float: left;
  width: 250px;
  padding-right: 40px;
  min-width: 150px;
  max-width: 300px;
  border-radius: 50%;
}

.buttondiv {
  padding-top: 20px;
  max-width: 700px;
  margin: 0 auto;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.standard-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.standard-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  font-size: 18px;
  border-bottom: 2px solid #256f9d;
}

.standard-header_item,
.header_navbar {
  -webkit-box-flex: 0;
  -ms-flex: 0 2 200px;
  flex: 0 2 200px;
  width: 100%;
}

.header_navbar:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.navigation-bar {
  list-style-type: none;
}

.navigation-bar li {
  display: inline-block;
  padding: 10px;
  margin-left: 15px;
}

#projects__heading {
  text-align: center;
}

.about-list {
  list-style-type: none;
  display: block;
  padding-left: 0;
}

.grid__item {
  display: inline-block;
  width: 33%;
}

@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 5px;
  }

  .grid__item {
    background-color: lightgrey;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    width: auto;
  }
}

.grid__item-preview {
  max-width: 250px;
  min-width: 150px;
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .standard-header_item {
    width: 200px;
    height: 80px;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }

  .standard-header_item {
    width: 200px;
    height: 80px;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

@-webkit-keyframes sun-change {
  0% {
    fill: #fdf49d;
    translate: 0 -130px;
  }
  20% {
    fill: #fdf49d;
    translate: 0 -330px;
  }
  40% {
    fill: #ffe36f;
    translate: 0 -530px;
  }
  60% {
    fill: #ffe36f;
    translate: 0 -730px;
  }
  80% {
    fill: #ff8f43;
    translate: 0 -930px;
  }
  100% {
    fill: #ff612b;
    translate: 0 -1130px;
  }
}

@keyframes sun-change {
  0% {
    fill: #fdf49d;
    translate: 0 -130px;
  }
  20% {
    fill: #fdf49d;
    translate: 0 -330px;
  }
  40% {
    fill: #ffe36f;
    translate: 0 -530px;
  }
  60% {
    fill: #ffe36f;
    translate: 0 -730px;
  }
  80% {
    fill: #ff8f43;
    translate: 0 -930px;
  }
  100% {
    fill: #ff612b;
    translate: 0 -1130px;
  }
}

.sun {
  -webkit-animation: 4s sun-change infinite alternate linear;
  animation: 4s sun-change infinite alternate linear;
}
